{% extends '@DoctrineExo/Default/base.html.twig' %}

    {% block title %}<title>Book</title>{% endblock %}

 {% block content %}


     {% for b in book %}

         <div class="bookDetail">
             <img src="{{ b.image }}" class="imgDetailBook">
             <h3>{{ b.title }}</h3>
             <p>{{ b.kind }}, {{ b.pagesNumber }} pages, {{ b.format }}</p>
         </div>
     {% endfor %}


 {% endblock %}